<!DOCTYPE html>
<html>

<head>
    <title>Twitter Feed</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple twitter feed reader">
    <meta name="author" content="Angad Bhasin">
    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- App specific CSS -->
    <link href="assets/css/app.css" rel="stylesheet" media="screen">
</head>

<body>
    <div class="container">
    	<!-- Header -->
        <div class="header clearfix">
            <h3 class="text-muted">Twitter Feed Reader</h3>
        </div>
        <!-- End Header -->
        
        <!-- Search -->
        <div class="jumbotron">
            <h3>Search through tweets</h3>
            <div class="input-group col-xs-6 col-xs-offset-3 search-area">
                <input type="text" name="search-tweet" class="form-control search-box" placeholder="Search Term" />
            </div>
        </div>
        <!-- End Search -->
        
        <!-- Tweets -->
        <div id="tweets">
        	<div class="tweet-container">
			<script id="tweetTemplate" type="text/template">
            	<!-- This is where the tweets will render -->
            	<article>
				    <div class="row">
				      <div class="col-sm-3">
				        <figure>
				          <img src="<%= profilePicture %>">
				        </figure>
				      </div>
				      <div class="col-md-8">
				        <span class="pull-right text-muted">@<%= screenName %></span>
				        <h4><%= name %></h4>
				        <p class="comment"><%= comment %></p>
				      <div class ="media">
					    <picture>
					    	<div class="content-img">
					    	  <% _.each(media, function(img) { %>
					            <img class ="content-img" src="<%= img.media_url %>"/>
					          <% }); %>
					    	</div>
					    </picture>
					   </div>
				       <section>
				         <i class="glyphicon glyphicon-time text-muted"></i><%= date %>
				         <span class="pull-right text-muted glyphicon glyphicon-retweet"> <%= retweetCount %></span>
				       </section>
				      </div>
				    </div>
				  </article>
			</script>
            </div>
        </div>
        <!-- End Tweets -->
        
		<!-- Footer -->
        <footer class="footer">
            <p class="text-center">Angad Bhasin</p>
        </footer>
        <!-- End Footer -->
    </div>
    
    <!-- Vendor Libraries -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Application scripts -->
    <script src="app/models/TweetModel.js"></script>
    <script src="app/collections/TweetCollection.js"></script>
    <script src="app/views/TweetView.js"></script>
    <script src="app/views/FeedView.js"></script>
    <script src="app/views/SearchView.js"></script>
    <script src="app/main.js"></script>
</body>

</html>