body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.footer {
  padding:0px 15px 0px 15px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #c4c2c2;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.footer {
  padding-top: 20px;
  color: #686767;
  border-top: 1px solid #c4c2c2;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

@media screen and (min-width: 768px) {
  .header,
  .footer {
    padding: 0px 0px 0px 0px;
  }

  .header {
    margin-bottom: 30px;
  }

  .jumbotron {
    border-bottom: 0;
  }
}

article{
    background-color: #ffffff;
	border: 1px solid #aaa;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

figure img{
    width: 65%;
    height: 65%;
	border-radius:10px;
	border: 1px solid #E0E0E0;
}

.glyphicon-retweet,
.glyphicon-time{
    padding: 2px;
}

.media{
	width:90%
}

.media img {
	width:80%;
	max-height:50%;
	padding:5px;
 	float: left;
}