<div class="tweet-container">
  <article>
    <div class="row">
      <div class="col-sm-3">
        <figure>
          <img src="<%= profilePicture %>">
        </figure>
      </div>
      <div class="col-md-8">
        <span class="pull-right text-muted">@<%= screenName %></span>
        <h4><%= name %></h4>
        <p class="comment"><%= comment %></p>
        <section>
          <i class="glyphicon glyphicon-time text-muted"></i><%= date %>
          <span class="pull-right text-muted glyphicon glyphicon-retweet"> <%= retweetCount %></span>
        </section>
      </div>
    </div>
  </article>
</div>